.appBackground {
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/app-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 6rem 20rem 1fr 20rem;

    padding: 1rem;
    gap: 1rem;

    .app-layout-content {
        background-color: var(--color-secondary-bg);
        border-radius: 0.5rem;
    }
}   