.friends-list {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    gap: .75rem;
}

.conversation-btn {
    display: flex;
    width: 100%;
    padding: .6rem;
    color: var(--color-prim-text);
    background-color: var(--color-secondary-bg);
    border-radius: .5rem;
    font-size: .8em;
    text-align: left;
    font-weight: 600;
}

.friends-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .6rem;
    gap: 1rem;
    color: var(--color-prim-text);
    background-color: var(--color-prim-bg);
    border-radius: .5rem;
    font-size: .8em;
    font-weight: 600;
}

.friends-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: .75rem;

    color: var(--color-prim-text);
}