@import '../utils/scrollbar.scss';

.friends-list {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    gap: .75rem;
    overflow: hidden;

    .friends-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // height: calc(100vh - 5rem);
        // gap: .75rem;
        color: var(--color-prim-text);
        
        p {
            padding: .75rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            @apply scrollbar;
            gap: .25rem;
        }
    }
}

.friend-item {
    a {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        padding: .5rem;
        border-radius: .5rem;

        transition: all 200ms ease-in-out;
        transition-delay: 25ms;
        span {
            display: block;
            border-radius: 10rem;
            font-size: .8em;
            padding: .5rem;
            background-color: var(--color-btn-main);
        }
    }

    &.active a, &:hover a {
        background-color: var(--color-prim-bg-3-4);
    }
}

.conversation-btn {
    display: flex;
    width: 100%;
    padding: .6rem;
    color: var(--color-prim-text);
    background-color: var(--color-secondary-bg-3-4);
    border-radius: .5rem;
    font-size: .8em;
    text-align: left;
    font-weight: 600;
}

.friends-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .6rem;
    gap: 1rem;
    color: var(--color-prim-text);
    background-color: var(--color-prim-bg);
    border-radius: .5rem;
    font-size: .8em;
    font-weight: 600;
}


.user-display {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
    color: var(--color-prim-text);
    > p {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        span {
            display: block;
            border-radius: 10rem;
            font-size: .8em;
            padding: .5rem;
            background-color: var(--color-btn-main);
        }
    }

    .settings-btn {
        margin-left: auto;
        cursor: pointer;
    }
}